<%= simple_form_for([@bot, @event]) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :start_at, as: :string, input_html: { value: datetime_form_helper(:start_at) } %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_at, as: :string, input_html: { value: datetime_form_helper(:end_at) } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :address_line, as: :string, required: false, input_html: { value: address_form_helper } %>
    </div>
    <div class="col-md-6">
      <%= f.input :picture_url %>
    </div>
  </div>

  <%= f.input :description, as: :text %>

  <%= f.button :submit, @event.created_at ? 'Update event' : 'Create event', class: 'btn btn-success' %>
<% end %>
