<h3>Event: <%= @event.name %></h3>

<p>description: <%= @event.description %></p>
<p>address: <%= @event.address.to_s %></p>
<p>start_at: <%= @event.time_window.start_at.to_formatted_s(:long_ordinal) %></p>
<p>end_at: <%= @event.time_window.end_at.to_formatted_s(:long_ordinal) %></p>
<p>img: <%= image_tag @event.picture_url %></p>
